<div class="todobar">
  <form>


      <input type = "hidden" name = "_id">
      &nbsp;&nbsp;&nbsp;&nbsp;


      <label for = "item">Title:  </label>
      <input type = "text" name = "item" class = "input-bar">
      &nbsp;&nbsp;&nbsp;&nbsp;


      <label for = "desc">Description:  </label>
      <input type = "text" name = "desc" size = "50" class = "input-bar">
      &nbsp;&nbsp;&nbsp;&nbsp;


      <label for = "dueDate">Due Date:  </label>
      <input type = "datetime-local" name = "dueDate" class = "input-bar">
      &nbsp;&nbsp;&nbsp;&nbsp;

      <button class="todo-bar-button">Save</button>

  </form>
</div>
